@import "../../../theme";

ion-tab-bar {
  height: 65px;
  z-index: 1;
}

ion-tab-bar {
  --border: none;
  box-shadow: 0px -15px 15px rgba(190, 189, 189, 0.1);
  height: 55px;
  z-index: 2;
}

ion-tab-button.active {
  ion-icon {
    color: $emerald;
  }
}

ion-fab-button {
  border-radius: 50%;
  border: 7px solid white;
  height: 62px;
  width: 62px;
  box-shadow: 5px -17px 9px -12px rgba(190, 189, 189, 0.1); 
  .active {
      color: $emerald;
  }
}
