ion-fab {
  bottom: -45px;
  background-color: white;
  padding: 7px;
  border-radius: 50%;
  margin-left: -36px;
  ion-fab-button {
    outline: none;
  }
}
.section-header{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--ion-color-black);
}

.quiz-count{
  font-size: 14px;
  line-height: 17px;
  color: var(--ion-color-medium-shade);
}

ion-slides{
  width: 100%;
  ion-slide {
    width: 50%;
    app-exam-card{
      //height: 100%;
      width: 100%;
    }
  }
}

.empty-screen-image {
  height: 100px;
}