@font-face {
    font-family: Proxima Nova;
    src: url('Proxima Nova Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: Proxima Nova;
    src: url('Proxima Nova Semibold.otf');
    font-weight: 500;
}

@font-face {
    font-family: Proxima Nova;
    src: url('Proxima Nova Bold.otf');
    font-weight: 700;
}
