<app-header title="PAST QUIZZES" [hideSidebar]="false"></app-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container pb-30">
    <ion-grid>
      <ion-row class="section-header ion-margin-bottom">
        <ion-col size="8">
          <ion-label>Past Quizzes</ion-label>
        </ion-col>
        <ion-col size="4" class="text-right">
          <ion-label class="quiz-count text-right">{{ pastAssignmentsTotal }} {{ quizLabel(pastAssignments.length) }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="pastAssignments.length > 0">
        <ion-col size="6" *ngFor="let assignment of pastAssignments; let i = index">
          <app-exam-card [exam]="assignment.exam" [index]="i" (edit)="reassignQuiz($event, assignment.id)" [questionCount]="assignment.exam.questions_count"></app-exam-card>
        </ion-col>
      </ion-row>
      <app-empty-description text="No exams to display..." *ngIf="!pastAssignments?.length && !isLoading"></app-empty-description>
    </ion-grid>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePastAssignments($event)" *ngIf="pastAssignmentsTotal > pastAssignments?.length">
      <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more quizzes..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
