<div class="container">
  <div class="d-flex justify-content-between mb-15">
    <h2 class="font-20 font-weight-medium color-cloud-burst my-0">Filters</h2>
    <div class="color-gray-chateau d-flex align-items-center cursor-pointer" (click)="openCategoryFilter()">
      <span class="font-13 mr-10 font-italic">{{ selectedCategories.length }} filters</span>
      <ion-icon class="font-20" name="filter-outline"></ion-icon>
    </div>
  </div>

  <div class="d-flex flex-wrap bg-color-concrete pt-15 pb-5 px-5" (click)="openCategoryFilter()">
    <div class="category-tag d-flex align-items-center justify-content-between bg-primary-gradient mb-10 ml-10" *ngFor="let category of selectedCategories; let i = index">
      <span class="font-12 font-weight-medium text-white mr-5 ellipses">{{ category }}</span>
      <ion-icon class="font-20 text-white cursor-pointer" name="close-circle-outline" (click)="removeCategory($event, i)"></ion-icon>
    </div>

    <p class="mb-10 font-12 color-cloud-burst ml-15" *ngIf="!selectedCategories.length">No categories</p>
  </div>
</div>
