<ion-content fullscreen scroll-y="false" class="bg-primary-gradient">
  <ion-slides class="h-100" pager="true">
    <ion-slide>
      <div class="h-100 d-flex flex-column justify-content-center">
        <a class="font-18 text-white skip-link" routerLink="">Skip</a>
        <ion-img class="px-30 mb-30" src="assets/images/onboarding/onboard-users.svg" alt="Family"></ion-img>
        <h1 class="mb-25 px-30">
          Welcome to <b>Ace It</b>!<br/>
          your quiz app for English vocab
        </h1>
        <p class="font-16 font-weight-medium px-30">Our tests are adaptive so that you can learn how to use new words as well as a native speaker</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="h-100 d-flex flex-column justify-content-center">
        <a class="font-18 text-white skip-link" routerLink="/login">Skip</a>
        <ion-img class="mt-20 mb-30" src="assets/images/onboarding/onboard-cards.svg" alt="Cards"></ion-img>
        <h1 class="mb-25 px-30">
          Enjoy 13,000+<br/>
          quizzes to help you learn new words
        </h1>
        <p class="font-16 font-weight-medium px-30">You can train at your pace or challenge yourself and your friends with a timed quiz</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="h-100 d-flex flex-column justify-content-center">
        <ion-img class="mx-auto mb-60 w-50" src="assets/images/onboarding/launch.svg" alt="Launch"></ion-img>
        <h1 class="mb-50 px-30">Let's get started</h1>
        <a class="text-white font-weight-medium" routerLink="">Get started</a>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
