ion-content {
  --background: linear-gradient(97.55deg, #52BE80 10.46%, #0EC55C 89.82%);
  --color: white;
}

.skip-link {
  position: absolute;
  top: 50px;
  right: 30px;
}

h1 {
  font-size: 26px;
  line-height: 35px;
}

ion-slides {
  --bullet-background: white;
  --bullet-background-active: white;
}